---
import Angular from './icons/Angular.astro'
import React from './icons/react.astro'
import MaterialUI from './icons/materialui.astro'
import Bootstrap from './icons/bootstrap.astro'
import JWT from './icons/jwt.astro'
import Redux from './icons/redux.astro'
import Node from './icons/nodejs.astro'
import TS from './icons/typescript.astro'

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-white text-white",
    icon: Angular,
  },
  React: {
    name: "React",
    class: "bg-[#d0f2f0] text-black",
    icon: React,
  },
  Material: {
    name: "MaterialUI",
    class: "bg-[#001f59] text-white",
    icon: MaterialUI
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "bg-[#debef7] text-black",
    icon: Bootstrap
  },
  JWT: {
    name: "JWT",
    class: "bg-[#c2e3b3] text-black",
    icon: JWT
  },
  Redux: {
    name: "Redux",
    class: "bg-[#e6aa8a] text-black",
    icon: Redux
  },
  Node: {
    name: "Node",
    class: "bg-black text-white",
    icon: Node
  },
  TS: {
    name: "Typescript",
    class: "bg-white text-black",
    icon: TS
  }
}
const PROJECTS = [
  {
    title: "PokeCollect - Juego de colección (En construcción)",
    description:
      "Aplicación basada en React de colección de pokémons y búsqueda de datos e información de los mismos. Manejo de estados con Redux Toolkit. Estilos y diseño con CSS plano y Bootstrap. Validación de formulario con Formik y Yup.",
    link: "https://poke-collect-back.vercel.app/",
    github: "https://github.com/Bsshark/PokeCollect",
    image: "/projects/pokeproject.webp",
    tags: [TAGS.React, TAGS.Bootstrap, TAGS.JWT, TAGS.Redux],
  },
  {
    title: "PokeBack - API (En construcción)",
    description:
      "Aplicación desarrollada con Node y Express para la creación de una API y manejo de solicitudes y rutas a una base de datos no relacional (MongoDB)",
    link: "https://pokecollectback-production.up.railway.app/api/pokemon/name/",
    github: "https://github.com/Bsshark/PokeCollectback",
    image: "/projects/node.webp",
    tags: [TAGS.Node, TAGS.JWT]
  },
  {
    title: "Maps - React",
    description:
      "Aplicación de mapas desarollada en React con empleo de Context y herramientas externas (MapLibreGL y Nominatim)",
      link: "https://react-maps-adlg.netlify.app/",
      github: "https://github.com/Bsshark/react-maps",
      image: "/projects/maps.webp",
      tags: [TAGS.React, TAGS.TS]
  }
]
---

{
  PROJECTS.map(({ image, title, description, tags, link }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
        onclick={link}
      />
    </article>
  ))
}
